.footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    background-color: #4a0e78;
    color: #fff;
    font-family: Arial, sans-serif;
}

.content{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.footer a{
    text-transform: uppercase;
    font-size: 14px;
    color: #d8c6ff;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #fff;
}